<div class="container">
  <br> <br> <br> <br>
  <h1 align="center">ADMINISTRACION</h1>
  <br>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">
          <button type="button" class="btn btn-primary" routerLink="/list-customer">Clientes</button>
        </th>
        <th scope="col">
          <button type="button" class="btn btn-secondary" routerLink="/list-mascotas">Mascotas</button>
        </th>
        <th scope="col">
          <button type="button" class="btn btn-success" routerLink="/list-medicamentos">Medicamentos</button>
        </th>
      </tr>
    </thead>

  </table>
</div>
