<div class="col">
  <h2 class="text-center">Agregar Medicamentos</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="identificacion">Identificacion:</label>
      <input formControlName="identificacion" placeholder="Identificacion" name="identificacion" class="form-control" id="identificacion" required>
    </div>

    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input formControlName="nombre" placeholder="Nombre" name="nombre" class="form-control" id="nombre" required>
    </div>

    <div class="form-group">
      <label for="dosis">Dosis:</label>
      <input formControlName="dosis" placeholder="Dosis" name="dosis" class="form-control" id="dosis" required>
    </div>


    <button class="btn btn-success">Aceptar</button>
    <button class="btn btn-primary" routerLink="/list-medicamentos">Regresar</button>
  </form>
</div>
