<div class="col">
  <h2 class="text-center">Editar Cliente</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="cedula">Cèdula:</label>
      <input formControlName="cedula" placeholder="Cedula" name="cedula" class="form-control" id="cedula" required>
    </div>

    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input formControlName="nombre" placeholder="Nombre" name="nombre" class="form-control" id="nombre" required>
    </div>

    <div class="form-group">
      <label for="apellido">Apellido:</label>
      <input formControlName="apellido" placeholder="Apellido" name="apellido" class="form-control" id="apellido" required>
    </div>

    <div class="form-group">
      <label for="direccion">Direccion:</label>
      <input  formControlName="direccion" placeholder="Direccion" name="direccion" class="form-control" id="direccion" required>
    </div>

    <div class="form-group">
      <label for="telefono">Telefono:</label>
      <input type="tel" formControlName="telefono" placeholder="Telefono" name="telefono" class="form-control" id="telefono" required>
    </div>

    <button class="btn btn-success">Aceptar</button>
    <button class="btn btn-primary" routerLink="/list-customer">Regresar</button>
  </form>
</div>
